body {
    width: 800px;
    margin: auto;
    background: #969291;
    background: -webkit-linear-gradient(to right, #b4afad, #3c3c3d);
    background: linear-gradient(to right, #b9b5b3, #373738);
    min-height: 100vh;
}


.navbar-container {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border: 3px solid transparent;
    border-width: 3px;
    border-radius: 10px;
    
}

h3 {
    color: #9f7928;
    font-size: 24px;
}

.navbar-button {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.central-container {
    text-align: center;
    padding: 20px;
  
    min-height: 430px;
    background-color: white;
    
    border-width: 3px;
    border-radius: 10px;
}



.contact-card-container {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
}

.contact-form {
    width: 100%;
    padding: 20px; 
    border: 3px solid transparent;
    border-width: 3px;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 3px solid transparent;
    border-width: 3px;
    border-image: radial-gradient(ellipse at center, #272725 0%, #FDB931 20%, #9f7928 50%, #8A6E2F 80%, transparent 110%);
    border-image-slice: 1;
    border-radius: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


